## Exploratory analysis of distance graph analysis

In [1]:
import pandas as pd

In [3]:
driving = pd.read_csv('../app/distances/all_driving_distances.csv')
walking = pd.read_csv('../app/distances/all_walking_distances.csv')
biking = pd.read_csv('../app/distances/all_biking_distances.csv')

In [3]:
driving.head()

,1,2,3,travel_time,amenity,neighborhood
0,1.000000,4.1,4.1,0.016667,restaurant,"L'Île-Bizard–Sainte-Geneviève, Montreal, Canada"
1,2.100000,5.2,5.2,0.035000,restaurant,"L'Île-Bizard–Sainte-Geneviève, Montreal, Canada"
2,0.000000,3.6,4.7,0.000000,restaurant,"L'Île-Bizard–Sainte-Geneviève, Montreal, Canada"
3,0.000000,1.1,1.1,0.000000,restaurant,"L'Île-Bizard–Sainte-Geneviève, Montreal, Canada"
4,26.299999,29.4,29.4,0.438333,restaurant,"L'Île-Bizard–Sainte-Geneviève, Montreal, Canada"

In [4]:
biking.head()

,1,2,3,travel_time,amenity,neighborhood
0,61.500000,73.500000,73.500000,1.025000,restaurant,"Verdun, Montreal, Canada"
1,63.500000,63.500000,63.500000,1.058333,restaurant,"Verdun, Montreal, Canada"
2,52.299999,63.000000,63.000000,0.871667,restaurant,"Verdun, Montreal, Canada"
3,57.200001,57.200001,57.200001,0.953333,restaurant,"Verdun, Montreal, Canada"
4,59.799999,59.799999,63.200001,0.996667,restaurant,"Verdun, Montreal, Canada"

In [5]:
walking.head()

,1,2,3,travel_time,amenity,neighborhood
0,514.799988,703.400024,703.400024,8.580000,restaurant,"Mercier–Hochelaga-Maisonneuve, Montreal, Canada"
1,525.700012,705.200012,714.299988,8.761667,restaurant,"Mercier–Hochelaga-Maisonneuve, Montreal, Canada"
2,507.600006,696.200012,696.200012,8.460000,restaurant,"Mercier–Hochelaga-Maisonneuve, Montreal, Canada"
3,544.500000,733.099976,733.099976,9.075000,restaurant,"Mercier–Hochelaga-Maisonneuve, Montreal, Canada"
4,292.799988,307.100006,451.899994,4.880000,restaurant,"Mercier–Hochelaga-Maisonneuve, Montreal, Canada"

### Biking analysis

In [6]:
# group data by neighbourhood and amenity and calculate the avg. travel time per group
grouped_data = biking.groupby(['neighborhood', 'amenity']).travel_time.mean().reset_index()
# Sorting the grouped data by average travel time in descending order and selecting the top 10
grouped_data.sort_values(by='travel_time', ascending=False).head(10)

                                         neighborhood     amenity  travel_time
56  Rivière-des-Prairies–Pointe-aux-Trembles, Mont...    hospital    10.378952
16    L'Île-Bizard–Sainte-Geneviève, Montreal, Canada    hospital     9.625549
66                    Saint-Laurent, Montreal, Canada    hospital     8.238780
15    L'Île-Bizard–Sainte-Geneviève, Montreal, Canada        cafe     8.039454
59  Rivière-des-Prairies–Pointe-aux-Trembles, Mont...  restaurant     7.943757
55  Rivière-des-Prairies–Pointe-aux-Trembles, Mont...        cafe     7.650180
58  Rivière-des-Prairies–Pointe-aux-Trembles, Mont...    pharmacy     7.529681
19    L'Île-Bizard–Sainte-Geneviève, Montreal, Canada  restaurant     7.176562
18    L'Île-Bizard–Sainte-Geneviève, Montreal, Canada    pharmacy     6.583541
21                          LaSalle, Montreal, Canada    hospital     5.661467

In [7]:
# Grouping the data by amenity and calculating the mean travel time
amenity_avg_travel_time = biking.groupby('amenity').travel_time.mean().reset_index()
# Sorting the data by average travel time in descending order and selecting the top 3
amenity_avg_travel_time.sort_values(by='travel_time', ascending=False).head(10)

      amenity  travel_time
1    hospital     5.225889
3    pharmacy     3.065438
0        cafe     2.739836
4  restaurant     2.406425
2     parking     0.935722

### Walking analysis

In [13]:
# group data by neighbourhood and amenity and calculate the avg. travel time per group
grouped_data_walking = walking.groupby(['neighborhood', 'amenity']).travel_time.mean().reset_index()
# Sorting the grouped data by average travel time in descending order and selecting the top 10
grouped_data_walking.sort_values(by='travel_time', ascending=False).head(10)

                                         neighborhood     amenity  travel_time
56  Rivière-des-Prairies–Pointe-aux-Trembles, Mont...    hospital    14.182897
16    L'Île_Bizard_Sainte_Geneviève, Montreal, Canada    hospital    13.397027
21                          LaSalle, Montreal, Canada    hospital    13.074335
55  Rivière-des-Prairies–Pointe-aux-Trembles, Mont...        cafe    12.926578
58  Rivière-des-Prairies–Pointe-aux-Trembles, Mont...    pharmacy    12.845577
59  Rivière-des-Prairies–Pointe-aux-Trembles, Mont...  restaurant    12.625814
1             Ahuntsic-Cartierville, Montreal, Canada    hospital    12.187633
15    L'Île_Bizard_Sainte_Geneviève, Montreal, Canada        cafe    11.997281
66                    Saint-Laurent, Montreal, Canada    hospital    11.888874
26                          Lachine, Montreal, Canada    hospital    11.144096

In [9]:
# Grouping the data by amenity and calculating the mean travel time
amenity_avg_travel_time_walking = walking.groupby('amenity').travel_time.mean().reset_index()
# Sorting the data by average travel time in descending order and selecting the top 3
amenity_avg_travel_time_walking.sort_values(by='travel_time', ascending=False).head(10)

      amenity  travel_time
1    hospital    10.585206
3    pharmacy     6.663142
0        cafe     5.557221
4  restaurant     4.809621
2     parking     2.473041

### Driving analysis

In [10]:
# group data by neighbourhood and amenity and calculate the avg. travel time per group
grouped_data_driving = driving.groupby(['neighborhood', 'amenity']).travel_time.mean().reset_index()
# Sorting the grouped data by average travel time in descending order and selecting the top 10
grouped_data_driving.sort_values(by='travel_time', ascending=False).head(10)

,neighborhood,amenity,travel_time
463,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",studio,8.877191
442,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",events_venue,8.877191
450,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",nightclub,8.877191
466,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",university,8.877191
436,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",cinema,8.864752
433,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",bureau_de_change,8.669643
464,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",theatre,8.573234
461,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",social_centre,8.573234
458,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",recycling,8.573234
438,"Rivière-des-Prairies–Pointe-aux-Trembles, Mont...",college,8.380289

In [11]:
# Grouping the data by amenity and calculating the mean travel time
amenity_avg_travel_time_driving = driving.groupby('amenity').travel_time.mean().reset_index()
# Sorting the data by average travel time in descending order and selecting the top 3
amenity_avg_travel_time_driving.sort_values(by='travel_time', ascending=False).head(10)

             amenity  travel_time
21         nightclub     4.523277
37        university     4.245071
34            studio     3.878162
13      events_venue     3.476897
4   bureau_de_change     3.394596
28   public_building     3.152766
20       marketplace     3.081054
7             cinema     3.027256
32     social_centre     2.887278
35           theatre     2.705835